#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.blog-container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.section-head {
    text-align: left;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
}

.blogs a {
    text-decoration: None;
}

.blog-column {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.blog {
    border: 2px dashed blue;
    padding: 10px;
    background: #2b2b2b;
    margin: 10px;
    color: black;
}

.blog:hover {
    background: black;
}

body.dark-mode .blog {
    background: #b3b3b3;
}

body.dark-mode .blog:hover {
    background: #e9e9e9;
}

@media only screen and (max-width: 768px) {
    .blog-container{
        margin: 20px 5%;
    }

    .section-head {
        margin-left: 5%;
    }

    .blog-column {
        width: 100%
    }
}