.half:first-child {
    background: #fff;
    justify-content: flex-start;
    align-items: flex-start;
}

.blogs {
    margin-top: 50px;
    margin-left: 5%;
    width: 80%;
    padding: 0 20px;
    align-items: left;
}

.blog {
    margin-bottom: 2em;
}

.blog-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.author, .date {
    font-size: 0.8em;
    color: #888;
}

.short-description {
    margin-bottom: 1em;
}

.read-more {
    color: #00f;
}