#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.contact-container {
    margin-left: 20%;
    margin-right: 20%;
}

.contact-block {
    padding: 5px;
}

.contact-container a, footer a {
    text-decoration: None;
    color: #f5d6b4;
}

.contact-container a:hover, footer a:hover {
    color: #fff;
}

body.dark-mode .contact-container a {
    color: #7d1386;
}

body.dark-mode .contact-container a:hover {
    color: #5530ad;
}