.half:first-child {
    background-color: #ffffff;
}
.slideshow {
    background-color: #ffffff;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    display: flex;
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: rgb(243, 243, 243);
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
}

.grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8e83ac; /* the color you want to change to on hover */
    transition: transform 0.6s ease, background-color 0.3s ease;
    z-index: 0;
    opacity: 0.1;
}

.grid-item:hover::before {
    transform: translateY(100%);
    background-color: inherit;
    opacity: 1;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
}

.grid-item:nth-child(1) {
    background-color: #1c0c46;
}
.grid-item:nth-child(1):hover {
    background-color: #b9b2ce;
    color: #000;
    transition: background-color 0.7s ease;
}
.grid-item:nth-child(2) {
    background-color: #071555;
}
.grid-item:nth-child(2):hover {
    background-color: #7d8fe2;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(3) {
    background-color: #38084b;
}
.grid-item:nth-child(3):hover {
    background-color: #c590da;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(4) {
    background-color: #161416;
}
.grid-item:nth-child(4):hover {
    background-color: #eae2ec;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(5) {
    background-color: #420a2d;
}
.grid-item:nth-child(5):hover {
    background-color: #d396bb;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(6) {
    background-color: #470c19;
}
.grid-item:nth-child(6):hover {
    background-color: #d18d9c;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(7) {
    background-color: #074b40;
}
.grid-item:nth-child(7):hover {
    background-color: #9fddc8;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(8) {
    background-color: #4d3c0f;
}
.grid-item:nth-child(8):hover {
    background-color: #e6d19c;
    color: #000;
    transition: background-color 0.3s ease;
}
.grid-item:nth-child(9) {
    background-color: #0a4125;
}
.grid-item:nth-child(9):hover {
    background-color: #8fd1b3;
    color: #000;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item {
        height: 100px;
        width: 100px;
    }
    .contact {
        margin-top: 5%;
    }
}