body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #eeeded;
    color: #000;
    padding: 5px 0;
    position: relative;
}

#main-section {
    text-align: center;
    margin: 7vh auto;
    width: 50%;
}

#main-section img {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 10px;
    left: 10px;
}

#main-section h2 {
    font-size: 50px; /* Adjust the font size as needed */
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

.notes-container {
    margin-left: 20%;
    margin-right: 20%;
}