#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.notes-container {
    margin-left: 20%;
    margin-right: 20%;
}

