@font-face {
    font-family: 'opendyslexic';
      src: url('/assets/fonts/OpenDyslexic-Regular.otf');
      font-style: normal;
      font-weight: normal;
  } 
  
  @font-face {
      font-family: 'opendyslexic';
      src: url('/assets/fonts/OpenDyslexic-Italic.otf');
      font-style: italic;
      font-weight: normal;
  }
  
  @font-face {
      font-family: 'opendyslexic';
      src: url('/assets/fonts/OpenDyslexic-Bold.otf');
      font-weight: bold;
      font-style: normal;
  } 
  
  @font-face {
      font-family: 'opendyslexic';
      src: url('/assets/fonts/OpenDyslexic-BoldItalic.otf');
      font-weight: bold;
      font-style: italic;
  } 
  
  /* @font-face {
      font-family: eulexia;
      src: url('http://dyslexicfonts.com/fonts/eulexia.ttf');
  }  */
  
  /* * {
      font-size:20px;
      line-height:200%;
      color: #191A42;
      font-family:opendyslexic !important;
  } */