#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.play-container {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.play-container a {
    color: #f5d6b4;
}

.play-container a:hover {
    color: #c27a7a;
}

.project-head {
    border-bottom: 2px dashed #fff;
}

.play-section p {
    padding: 10px;
}

body.dark-mode .play-container a {
    color: #7d1386;
}

body.dark-mode .play-container a:hover {
    color: #5530ad;
}

body.dark-mode .project-head {
    border-bottom: 2px dashed #000000;
}

@media only screen and (max-width: 768px) {
    .play-container{
        margin: 20px 5%;
    }

    .section-head {
        margin-left: 5%;
    }    
}