#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.project-container {
    margin-left: 20%;
    margin-right: 20%;
}

.project-container a {
    color: #f5d6b4;
}

.project-container a:hover {
    color: #c27a7a;
}


.project-section {
    border: 2px dashed green;
    margin: 10px;
    padding: 10px;
}

.project {
    margin: 15px;
    border: None;
}

.project:hover{
    background: #161616;
}

.dropdown-icon {
    float: right;
}

.dropdown-icon i {
    font-size: 40px;
    transition: transform 0.7s;
    transform: rotate(0deg);
}   

.clicked i {
    transform: rotate(180deg);
}

.details {
    border: 2px dashed red;
    padding: 10px;
    margin: 5px;
}

.details:hover {
    background-color: #000;
}

body.dark-mode a {
    color: #1b1361;
}

body.dark-mode .project:hover{
    background: #f0eeee;
}

body.dark-mode .details:hover {
    background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .project-container{
        margin: 20px 5%;
    }

    .section-head {
        margin-left: 5%;
    }
}