.half:first-child {
    background: #fff;
    justify-content: flex-start;
    align-items: flex-start;
}
.project-list {
    margin-top: 50px;
    margin-left: 5%;
    width: 80%;
    padding: 0 20px;
    align-items: left;
}

.project-title {
    cursor: pointer;
}

.project {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.project:first-child .more-details {
    display: block;
}

.dropdown-icon {
    float: right;
    transition: transform 0.8s;
    cursor: pointer;
}

.short-description {
    font-size: 0.8em;
    color: #888;
}

.more-details {
    display: none;
}