#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

.letter-container {
    width: 8.5in;
    /* height: 11in; */
    background-color: white;
    margin: 50px auto;
    border: 2px dashed red;
    color: black;
}

.resume {
    padding: 10px;
}

.resume h2 {
    text-align: left;
    font-size: 36px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.resume h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#contact-line {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.resume h4 {
    border-bottom: 2px solid #000;
}

.work-experience p {
    margin: 0px;
    display: flex;
    justify-content: space-between; 
    padding-left: 5px;
}

.education p {
    margin: 0px;
}

.download-button {
    text-align: center;
    margin-top: -50px;
    padding: 20px;
}

.download-button button {
    padding: 10px;
    font-size: 15px;
    border-radius: 0;
    border: 1px solid green;
    background-color: #fff;
}

.download-button button:hover {
    background-color: #dab4f0;
}

.download-button button:active {
    background-color: #be9ce6;
    border-radius: 0;
    border: 1px solid green;
}


@media only screen and (max-width: 768px) {
    .letter-container {
        width: 94%;
        margin: 20px;
        border: 1px dashed red;
    }

    .download-button {
        margin: 2% 20px
    }
}
