@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&family=Pacifico&family=Poppins:wght@900&display=swap');
@import url('/assets/css/opendyslexic.css');

body {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    margin: 0;
    background: #f3f3f3;
    font-family: 'Lexend', sans-serif;
}
.half {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.half h1 {
    font-size: 5em;
    margin: 0;
    color: #383838;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Poppins, sans-serif;

}
.half:first-child {
    background: #fff;
    justify-content: flex-start;
    align-items: right;
    padding: 7% 0;
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.half:last-child {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slideshow {
    width: 100%;
    height: 100%;
    animation: slideshow 20s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    margin: 0;
}

.nav {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: all 1s ease;
    transform: translateX(-100%);
    opacity: 0;
    background-color: #efefef;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.nav ul {
    list-style-type: none;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    align-items: flex-end;
    padding-right: 20px;
    margin-bottom: auto;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #2e2e2e;
}

.nav ul li a:hover {
    color: #a200ff;
    transition: all 1s ease;
}

#dark-mode-toggle {
    align-self: flex-end; 
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 1em;
}

#font-toggle {
    align-self: flex-end; 
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 1em;
    font-family: 'opendyslexic', sans-serif;
}

.nav .social-media-icons {
    width: 80%; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100px;
    border-top: 1px solid #000;
}

.nav .social-media-icons a {
    color: #000;
    padding-right: 25px;
}

.nav .social-media-icons a:last-child {
    padding-right: 20px;
}

.nav .social-media-icons a:hover {
    transform: scale(1.2);
    transition: transform 0.7s ease;
}

.nav.open {
    transform: translateX(0);
    opacity: 1; 
}

.nav-icon {
    position: fixed;
    top: 30px; 
    right: 30px; 
    width: 35px;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
}

.nav-icon span {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    transition: all 1s ease;
    background-size: 200% 100%;
    
}

.nav-icon:hover span {
    background-image: linear-gradient(to right, #000 50%, #a200ff 50%);
    background-position: -100% 0;
}

.nav-icon span:nth-child(1) {
    top: 0;
}

.nav-icon span:nth-child(2) {
    top: 8px;
}

.nav-icon span:nth-child(3) {
    top: 16px;
    width: 70%;
}

.nav-icon.open:hover span {
    background-image: linear-gradient(to left, #000 50%, #a200ff 50%);
    background-position: 100% 0;
}

.nav-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 5px);
    background-color: #a200ff;
}

.nav-icon.open span:nth-child(2) {
    transform: rotate(-45deg) translate(0px, -5px);
    width: 100%;
    background-color: #a200ff;
}

.nav-icon.open span:nth-child(3) {
    transform: translateX(-100px);
    opacity: 0;
}

.title-nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    position: absolute;
    top: 0;
    left: 51%;
    top: 20px; 
}

.page-title h1 {
    margin: 0;
    text-decoration: underline;
}

body.dyslexic-font {
    font-family: 'opendyslexic', sans-serif;
}

body.dark-mode .half h1 {
    color: #afafaf;
}

body.dark-mode .page-title h1 {
    color: #d8d8d8;
}

body.dark-mode .nav {
    background-color: #282828;
}

body.dark-mode .nav ul li a {
    color: #ffffff;
}

body.dark-mode .nav-icon span {
    background-color: #fff;
}

body.dark-mode .nav-icon.open span {
    background-color: #fff;
}

body.dark-mode .nav-icon:hover span {
    background-image: linear-gradient(to right, #ffffff 50%, #dbc6e7 50%);
    background-position: -100% 0;
}

body.dark-mode .nav .social-media-icons {
    border-top: 1px solid #fff;
}

body.dark-mode .nav .social-media-icons a {
    color: #ffffff;
}

body.dark-mode .half:first-child {
    background-color: #010522;
    color: #ffffff;
}


@keyframes slideshow {
    0% { background-image: url('/assets/images/-caf9pc.jpg'); }
    33% { background-image: url('/assets/images/20230328_150157.jpg'); }
    66% { background-image: url('/assets/images/-jpj1fe.jpg'); }
    100% { background-image: url('/assets/images/DSC_0790~2.JPG'); }
}

@media (max-width: 600px) {
    body {
        flex-direction: column-reverse;
    }

    .half:last-child {
        flex: 3; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .slideshow {
        border-radius: 50%; 
        height: 50vw; 
        width: 50vw; 
        max-height: 30vh; 
        max-width: 30vh;
        margin: auto;
    }

    .half:first-child {
        flex: 7;
        width: 100%;
        padding: 15px;
    }

    .nav {
        width: 100%;
        height: 100vh;
        left: 0;
    }

    .page-title {
        position: absolute;
        top: 0;
        left: 1%;
        top: 20px; 
    }

    .half:not(:first-child) {
        display: none;
    }
}