body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

body.dyslexic-font {
    font-family: 'opendyslexic', sans-serif;
}

header {
    background-color: #180b52;
    color: #ffffff;
    padding: 10px 0;
    position: relative;
}

header.transition {
    transition: background-color 0.5s, padding 0.5s;
}

#main-section {
    text-align: center;
    margin: 4vh auto;
    width: 50%;
}

#main-section h2 {
    font-size: 50px; /* Adjust the font size as needed */
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

#profile-picture {
    border-radius: 50%;
    border: 2px dashed green;
    padding: 0.5%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 1s;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    border-bottom: 5px solid white;
    color: #b897dd;

}

.section-style {
    margin: 50px 20%;
    margin-top: 0%;
    border: 2px dashed green;
    border-bottom: 2px dashed green;
    padding: 20px;
}

.section-head {
    text-align: left;
    margin-left: 20%;
}

#resume-section .experience, #resume-section .education {
    padding: 20px;
}

#projects-section a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
}

.project {
    border-bottom: 2px dashed;
    border-top: 2px dashed;
    margin: 10px;
    background: #000000;
    padding: 5px;
}

.project:hover{
    background: #777575;
}

footer {
    background-color: #5b346b;
    color: #ffffff;
    padding: 20px 10%;
    margin-top: 50px;
}

footer .contact-info {
    margin-top: 20px;
}

footer .contact-info h3 {
    color: #ebebeb;
}

footer a {
    text-decoration: None;
}

footer img:hover {
    background-color: #44444410;
}

.switch-container {
    display: flex;
    align-items: center;
}

.dark-mode-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    transition: transform 0.5s;
}

.dark-mode-icon:hover {
    background-color: #2c2c2c2a;
}

.dark-mode-icon.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s;
}


body.dark-mode header {
    background-color: rgb(41, 120, 172);
    color: white;
}

body.dark-mode #profile-picture {
    border: 2px dashed rgb(229, 255, 0);
}

body.dark-mode footer {
    background-color: #e6e6fa; /* Light purple */
    color: #3e2723;
}

body.dark-mode {
    background-color: white;
    color: black;
}

body.dark-mode .project {
    background: #ffffff;
}

body.dark-mode .project:hover {
    background: #bdbaba;
}

body.dark-mode nav a {
    color: #fff;
}

body.dark-mode nav a:hover {
    color: #b897dd;
}

body.dark-mode footer .contact-info h3 {
    color: #424242;
}

@media only screen and (max-width: 768px) {
    #main-section {
        width: 80%;
    }

    #profile-picture {
        width: 300px;
        height: 300px;
    }

    .section-style {
        margin: 20px 5%;
    }

    .section-head {
        margin-left: 5%;
    }

    footer .contact-info {
        text-align: left;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/on.png');
    background-size: cover;
    transition: .4s;
    height: 50px;
    width: 50px;
  }
  
  /* .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('/assets/images/on.png');
    background-size: cover;
    transition: .4s;
  } */
  
  input:checked + .slider {
    background-image: url('/assets/images/off.png');
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  